<h1>This is the list page</h1>
<p>The page title is {{ title }}</p>

{% for trick in tricks %}
    <ul>
        <li>
            <a href="{{ path('trick_show', {'name' : trick.name}) }}">{{ trick.name }}</a>
            <p>created on {{ trick.createdAt | date("d/m/Y") }}</p>
        </li>
    </ul>
{% endfor %}

